.text-aling{
    text-align: center;
    font-size: 30px;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    /* For mobile tables: */
    .text-aling {
        font-size: 26px;
    }
}

@media only screen and (max-width: 600px) {
    /* For mobile phones */
    .text-aling {
        font-size: 18px;
    }
}

.body-corpo-img{
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:;
    font-family: Book Antiqua;
}

.body-img{
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:;
    font-family: Book Antiqua;
}

