body{
    background-color: #00BFFF;
}

.area{
    
    min-width: 200px;
    min-height: 300px;
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    margin-top: 60px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    border-radius: 4px 4px 4px 4px;
    border-color: #00BFFF;
    
}

.text-title{
   margin-left: 30px;
}

label{
    font-size: 22px;
}

.area-logo{
    margin-top: 40px;
}

.logo{
    
    font-size: 22px;
    color: white;
}

