
@media only screen and (min-width: 425px) and (max-width: 320px){
    .nav-body-conteudo{
        padding-right: 0px;

    }
}


.nav-body{
    padding-top: 0px;
    background-color: #00BFFF;
    box-shadow: 0px 8px 8px #0000FF;
}

/* CSS para centralizar o texto do menu*/
.nav-body-conteudo{
    margin-top: 5px;
    padding-right: 130px;
}

.title-nav{
    font-size: 20px;
    padding-top: 14px;
    color:#FFFFF0;
}

.title-nav:hover{
    color:#FFFFFF;
    
}

.font-corpo{
   
    font-size: 20px;
    color:#FFFFF0;
}

.font-corpo:hover{
   
    background-color: #0000CD;
    color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.active{
  
   
}

.nav-conteudo{
    justify-content: center;
}


.button-tamanho-img{
    
    width: 30px;
    height: 25px;
}





